{% extends "base.html" %}

{% block scriptblock %}
<script type="text/javascript">
function clear_video(){
	$.ajax("/api?method=clear").fail(function(){ alert('ビデオのクリアに失敗！！');});
}
function scan_video(){
	$.ajax("/api?method=scan").fail(function(){ alert('ビデオの収集に失敗！！');});
}
function create_gaem_list(){
	$.ajax('/api?method=create&name="'+$("#gamelist").val()+'"').fail(function(){ alert("ゲームリストの作成");});
}
</script>
{% endblock %}

{% block content %}
<form action="/config" method="POST">
<label for="basic">YouTube アカウントID：
<input type="text" name="yt_id" data-mini="true" value="{%if vc.yt_id %}{{vc.yt_id}}{%endif%}"/></label>
<label for="basic">YouTube パスワード：
<input type="password" name="yt_pswd" data-mini="true"/></label>
<label for="basic">YouTube 名前：
<input type="text" name="yt_name" data-mini="true" value="{%if vc.yt_name %}{{vc.yt_name}}{%endif%}"/></label>
<label for="basic">収集キーワード：
<input type="text" name="keyword" data-mini="true" value="{%if vc.keyword %}{{vc.keyword}}{%endif%}"/></label>
<label for="basic">表示パスワード：
<input type="password" name="pswd" data-mini="true"/></label>
<label for="basic">一度に表示するゲーム数：
<input type="number" name="count" data-mini="true" value="{%if vc.fetch_count %}{{vc.fetch_count}}{%endif%}"/></label>
<label for="basic">ホームURL：
<input type="text" name="home_url" data-mini="true" value="{%if vc.home_url %}{{vc.home_url}}{%endif%}"/></label>
<input type="submit" value="保存" />
</form>
<div>
<input type="text" id="gamelist"/><button onclick="create_gaem_list();">ゲームリスト作成</button>
</div>
<form action="/api?method=addgame" method="POST">
<label>ゲームリスト：<select name="gamelist">
{% for gl in gamelists %}<option value="{{gl.key}}">{{gl.description}}</option>{% endfor %}
</select></label>
<label>ゲーム名：<input type="text" name="gamename" /></label>
<label>ID1：<input type="text" name="game1" /></label>
<label>ID2：<input type="text" name="game2" /></label>
<label>ID3：<input type="text" name="game3" /></label>
<label>ID4：<input type="text" name="game4" /></label>
<label>ID5：<input type="text" name="game5" /></label>
<label>ID6：<input type="text" name="game6" /></label>
<label>ID7：<input type="text" name="game7" /></label>
<label>ID8：<input type="text" name="game8" /></label>
<label>ID9：<input type="text" name="game9" /></label>
<input type="submit" value="保存" />
</form>
{% endblock %}

{% block footer %}
<div data-role="navbar" data-iconpos="top">
<ul>
	<li><a href="javascript:scan_video();" data-role="button" data-icon="refresh">収集</a></li>
	<li><a href="javascript:clear_video();" data-role="button" data-icon="delete">全削除</a></li>
</ul>
</div>
{% endblock %}
